@font-face {
    font-family: 'Avenir';
    src: url('../Fonts/AvenirLTStd-Roman.otf'); 
} 


body {
    font-family: 'Avenir', sans-serif;
    background-color: #ffffff; /* White background */
    color: #333333; /* Dark text color */
}


.logo {
    height: 90px; /* Adjust based on your logo's aspect ratio */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f8ff; /* Light blue background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Soft shadow */
}

h2 {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    color: #085399; /* Dark blue header */
}

form {
    display: flex;
    margin-left: 33vw;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 30vw;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="button"] {
    background-color: #085399; /* Dark blue button */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 31vw;
}

#submit {
    background-color: #085399; /* Dark blue button */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 31vw;
}

button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: #085399; /* Darker blue on hover */
}
